:root {
	--up: #1e90ff;
}
body{
	background:transparent;
	margin:0;
	padding:0;
}
.up{
	border-bottom:var(--up) solid 10px;
	box-sizing:content-box;
}
.scoreBoard{
	background: linear-gradient(#DDDD, #9999);
	height:3rem;
	width:100vw;
	display:flex;
	justify-content: flex-start;
	margin-top:2rem;
}
.homeContainer, .awayContainer{
	display:flex;
	justify-content:space-around;
	align-items: center;
	width:25vw;
	height:120%;
	background:navy;
	color:white;
	font-weight:800;
	margin-left:1rem;
	margin-top:-.2rem;
	font-size:2rem;
}
.inningContainer{
	display:flex;
	align-items:center;
	justify-content: space-around;
	font-size:3rem;
}

.inningSide{
	margin-top:1rem;
	margin-right:-.5rem;
}
.inningSide i{
	font-size:3rem;
}
.baseContainer{
	background:grey;
	width:3rem;
	height:3rem;
	transform:rotate(45deg);
	margin-left:2rem;
	display:flex;
	flex-wrap:wrap;
	position:static;
	border-radius:3px;
}
[data-base-num]{
	width:1.3rem;
	margin:.1rem;
	height:1.3rem;
	background:white;
	border:1px solid black;
	border-radius: 3px;
}
[data-base-num].active{
	background:yellow;
}
[data-out-num]{
	background:white;
	border-radius:50%;
	width:.8rem;
	height:.8rem;
	margin:.1rem;
	border:solid black 1px;
}
[data-out-num].active{
	background:red;
}
.outContainer{
	position:absolute;
	display:flex;
	transform:rotate(-45deg) translateY(2.1rem) translateX(-.35rem);
}
.countContainer{
	height:100%;
	width:8rem;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:2rem;
}
.scoreController{
	width:100vw;
	height:10rem;
	background:black;
	margin-top:10rem;
	display:flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap:wrap;
}
.timerContainer{
	font-size:2rem;
	font-weight:800;
}
.expired{
	border:red solid 3px;
}